/* Color Palette */
:root {
    --primary-color: #FB6107; /* Primary color */
    --secondary-color: #606C38; /* Secondary color */
    --accent1-color: #34A0A4; /* Accent 1 color */
    --accent2-color: #283618; /* Accent 2 color */
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    align-items: center;
    display: flex;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header img {
    height: 60px;
}

/* Main Content */
main {
    background-color: #ffffff;
}

/* Hero Section */
.hero {
    position: relative; 
    text-align: center;
}

.hero img {
    display: block; 
    width: 100%; 
    height: auto; 
}

/* Hero Title (h1) */
.hero h1 {
    position: absolute;
    top: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: var(--primary-color); 
    font-size: 48px;
    margin: 0;
}

/* Article */
.hero article {
    position: absolute;
    top: 200px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 80%; 
    text-align: left;
}

/* Article Image floated to the right */
.hero article img {
    float: right;
    margin-left: 15px; 
    width: 150px; 
    height: auto; 
}

/* Article Text */


/* History and Adventure Sections */
.history, .adventure {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.history h2, .adventure h2 {
    color: var(--accent1-color); 
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.history p, .adventure p {
    color: var(--accent1-color); 
    font-size: 16px;
}

.adventure img {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    height: auto;
}


main p {
    color: var(--accent1-color); 
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--secondary-color);
}

footer p {
    color: var(--secondary-color);
}

/* Navigation */
nav {
    margin-left: auto;
}

nav a {
    margin: 0 10px;
    color: var(--secondary-color); 
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

/* Social Media Icons */
.social-media a {
    text-decoration: none;
    margin: 0 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color); 
}
